*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color:#EBF3Fb; 
    width:100%;
    height: 100vh;
}
.card{
    display: flex;
    width:55%;
    border-radius: 7px;
    background-color: white;
}
.section1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 img{
    width:60%;
    height:80%;
}
.section2{
    width: 50%;
}
#shipping-container{ 
    color:white;
    background-color: black;
    height: 20px;
    width: 95px;
    padding: 5px;
    margin: 15px 0;
    border-radius: 15px;
}
.marked-price{
    text-decoration: line-through;
    margin: 10px 0;
}
.discounted-price{
    font-size: 42px;
}
.offer-msg{
    color:#C79BA4;
    margin: 5px 0 10px 0;
}
.main-btn{
    text-align: center;
    width: 90%;
    color: white;
    background-color:#3B66B8;
    padding: 10px 0;
    border-radius: 5px;
    margin: 15px 0;
}
.green-dot{
    width: 12px;
    height: 12px;
    background-color: greenyellow;
    border-radius: 50%;
    /* margin: 10px 0; */
}
.btn{
    width:43%;
    height:5vh;
    /* padding: 10px; */
    margin: 15px 0;
    border:2px solid #90919B;
    border-radius: 5px;
    background-color: white;
}